nav {
    text-align: right;
    font-size: 25px;
    word-spacing: 50px;
    color: white;
    font-size: 40px;
    padding-top: 40px;
}

body {
    background-color: white;
}

h1{
    padding-top: 10px;
}
